Manifest/PSA_manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- PSA Manifest XML Schema - version 1.1 - 3 Sep 2014 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:secured_PSAManifest="https://www.secured-fp7.eu/ref/PSA_manifest/"
	targetNamespace="https://www.secured-fp7.eu/ref/PSA_manifest/" elementFormDefault="qualified">
	<xs:element name="PSAManifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="general_info" type="secured_PSAManifest:GeneralInfoSection"
					minOccurs="1" maxOccurs="1"/>
				<xs:element name="functionality" type="secured_PSAManifest:FunctionalitySection"
					minOccurs="1" maxOccurs="1"/>
				<xs:element name="execution_model" type="secured_PSAManifest:ExecutionModelSection"
					minOccurs="1" maxOccurs="1"/>
				<xs:element name="configuration" type="secured_PSAManifest:ConfigurationSection"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="monitoring" type="secured_PSAManifest:MonitoringSection"
					minOccurs="0" maxOccurs="1"/>
				<xs:element name="custom" type="secured_PSAManifest:CustomSection" minOccurs="0"
					maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- general info section -->
	<xs:complexType name="GeneralInfoSection">
		<xs:sequence>
			<xs:element name="PSA_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="web_site" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EULA" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="licence" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Freeware"/>
						<xs:enumeration value="Commercial"/>
						<xs:enumeration value="Shareware"/>
						<xs:enumeration value="Donationware"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- functionality section -->
	<xs:complexType name="FunctionalitySection">
		<xs:sequence>
			<xs:element name="capability"
				type="secured_PSAManifest:CapabilityElement" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="M2L_translation_info"
				type="secured_PSAManifest:M2LTranslationElement" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="performance"
				type="secured_PSAManifest:Performance" minOccurs="0" maxOccurs="1" />
			<xs:element name="optimization_parameter" type="secured_PSAManifest:Optimization_parameter" maxOccurs="1" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- capability  element-->
	<xs:complexType name="CapabilityElement">
		<xs:sequence>
			<xs:element name="access_control"
				type="secured_PSAManifest:AccessControlCapability" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="malware"
				type="secured_PSAManifest:MalwareCapability" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="privacy"
				type="secured_PSAManifest:PrivacyCapability" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="audit"
				type="secured_PSAManifest:AuditCapability" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="network_and_monitoring"
				type="secured_PSAManifest:NetworkAndMonitoringCapability"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="legal"
				type="secured_PSAManifest:LegalCapability" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="forensics"
				type="secured_PSAManifest:ForensicsCapability" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="HSPL_capability" type="secured_PSAManifest:capabilityList" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<!--access control capability-->
	<xs:complexType name="AccessControlCapability">
		<xs:sequence>
			<xs:element name="traffic_filter" type="secured_PSAManifest:TrafficFilterCapability"
				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="network_access_restrictions"
				type="secured_PSAManifest:NetworkAccessRestrictionCapability" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--traffic filter capability-->
	<xs:complexType name="TrafficFilterCapability">
		<xs:sequence>
			<xs:element name="stateless" type="secured_PSAManifest:StatelessFilterCapability"
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="stateful" type="secured_PSAManifest:StatefulFilterCapability"
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="application_filter"
				type="secured_PSAManifest:ApplicationFilterCapability" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- stateless capability -->
	<xs:complexType name="StatelessFilterCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="access control list"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- stateful capability -->
	<xs:complexType name="StatefulFilterCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="anti DDoS"/>
						<xs:enumeration value="NAT"/>
						<xs:enumeration value="packet filter"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- application filter capability -->
	<xs:complexType name="ApplicationFilterCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="captive portal"/>
						<xs:enumeration value="SMTP relay"/>
						<xs:enumeration value="SBC"/>
						<xs:enumeration value="forward web proxy"/>
						<xs:enumeration value="reverse web proxy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- network access restrictions capability -->
	<xs:complexType name="NetworkAccessRestrictionCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="access limit by time"/>
						<xs:enumeration value="access limit by host"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- malware capability -->
	<xs:complexType name="MalwareCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="botnet detector"/>
						<xs:enumeration value="spam detector"/>
						<xs:enumeration value="anti-malware detector"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- privacy capability -->
	<xs:complexType name="PrivacyCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="traffic anonymizer"/>
						<xs:enumeration value="VPN service"/>
						<xs:enumeration value="DLP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- audit capability -->
	<xs:complexType name="AuditCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="traffic record"/>
						<xs:enumeration value="vulnerability scanner"/>
						<xs:enumeration value="inventory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- network and monitoring capability -->
	<xs:complexType name="NetworkAndMonitoringCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IDS fingerprint"/>
						<xs:enumeration value="IDS anomalies"/>
						<xs:enumeration value="IPS"/>
						<xs:enumeration value="DPI"/>
						<xs:enumeration value="traffic sniffer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- legal capability -->
	<xs:complexType name="LegalCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VoIP"/>
						<xs:enumeration value="Internet traffic"/>
						<xs:enumeration value="email"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- forensics capability -->
	<xs:complexType name="ForensicsCapability">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="implementedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="parser"/>
						<xs:enumeration value="PDF file analyzer"/>
						<xs:enumeration value="URL file analyzer"/>
						<xs:enumeration value="binary file analyzer"/>
						<xs:enumeration value="flash file analyzer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- M2LTranslationElement -->
	<xs:complexType name="M2LTranslationElement">
		<xs:sequence>
			<xs:element name="security_control" type="secured_PSAManifest:SecurityControl"
				minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--SecurityControl-->
	<xs:complexType name="SecurityControl">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="plugin" type="secured_PSAManifest:M2LPlugin" minOccurs="1"
				maxOccurs="unbounded"/>
			<xs:element name="configuration_file" type="xs:string" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- M2LPlugin-->
	<xs:complexType name="M2LPlugin">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="URL" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="command" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Performance-->
	<xs:complexType name="Performance">
		<xs:sequence>
			<xs:element name="network_throughput" type="secured_PSAManifest:NetworkThroughput" minOccurs="0" maxOccurs="1"/>
			<xs:element name="simultaneous_connections" type="secured_PSAManifest:SimultaneousConnection" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="max_numer_of_operations_rules" type="xs:integer" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="max_numer_of_users" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkThroughput">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Kbit/s"/>
					<xs:enumeration value="Mbit/s"/>
					<xs:enumeration value="Gbit/s"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SimultaneousConnection">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="conn/s"/>
					<xs:enumeration value="conn/h"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!-- execution model section -->
	<xs:complexType name="ExecutionModelSection">
		<xs:sequence>
			<xs:element name="infrastructure" type="secured_PSAManifest:InfrastructureElement"
				minOccurs="1" maxOccurs="1"/>
			<xs:element name="security_availability"
				type="secured_PSAManifest:SecurityAndAvailabilityElement" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="mobility" type="secured_PSAManifest:MobilityElement" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="PSC_dependency" type="secured_PSAManifest:PSCDependenciesElement"
				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="additional_requirement"
				type="secured_PSAManifest:AdditionalRequirementElement" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- InfrastructureElement-->
	<xs:complexType name="InfrastructureElement">
		<xs:sequence>
			<xs:element name="hw_requirement" type="secured_PSAManifest:HWRequirement" minOccurs="1"
				maxOccurs="1"/>
			<xs:element name="sw_requirement" type="secured_PSAManifest:SWRequirement" minOccurs="0"
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- HW requirement-->
	<xs:complexType name="HWRequirement">
		<xs:sequence>
			<xs:element name="cpu_unit" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cpu_architecture" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="x86"/>
						<xs:enumeration value="x86_64"/>
						<xs:enumeration value="ARM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cpu_family" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RAM_size" type="secured_PSAManifest:RAMSize" minOccurs="1" maxOccurs="1"/>
			<xs:element name="disk_size" type="secured_PSAManifest:DiskSize" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bandwidth" type="secured_PSAManifest:Bandwidth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="max_delay" type="secured_PSAManifest:MaxDelay" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RAMSize">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MB"/>
					<xs:enumeration value="GB"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DiskSize">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MB"/>
					<xs:enumeration value="GB"/>
					<xs:enumeration value="TB"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Bandwidth">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Kbit/s"/>
					<xs:enumeration value="Mbit/s"/>
					<xs:enumeration value="Gbit/s"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MaxDelay">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ms"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- SW requirement -->
	<xs:complexType name="SWRequirement">
		<xs:sequence>
			<xs:element name="OS_type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OS_version" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OS_architecture" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--SecurityAndAvailabilityElement-->
	<xs:complexType name="SecurityAndAvailabilityElement">
		<!-- TODO -->
	</xs:complexType>
	<!--PSCdependencies-->
	<xs:complexType name="PSCDependenciesElement">
		<!-- TODO -->
	</xs:complexType>
	<!-- mobility-->
	<xs:complexType name="MobilityElement">
		<xs:sequence>
			<xs:element name="migration_support" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cold migration"/>
						<xs:enumeration value="live migration"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="stateless"/>
						<xs:enumeration value="stateful"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- additional requirement-->
	<xs:complexType name="AdditionalRequirementElement">
		<!-- TODO -->
	</xs:complexType>

	<!-- configuration section -->
	<xs:complexType name="ConfigurationSection">
		<xs:sequence>
			<xs:element name="PSA_format" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="img"/>
						<xs:enumeration value="tar.gz"/>
						<xs:enumeration value="qcow2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="security_control_configuration"
				type="secured_PSAManifest:SecurityControlConfigurationElement" minOccurs="1"
				maxOccurs="1"/>
			<xs:element name="network_card_no" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="network_card_configuration"
				type="secured_PSAManifest:NetworkCardConfigurationElement" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="network_configuration"
				type="secured_PSAManifest:NetworkConfigurationElement" minOccurs="0" maxOccurs="1"/>
			<xs:element name="kernel_configuration"
				type="secured_PSAManifest:KernelConfigurationElement" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- SecurityControlConfigurationElement-->
	<xs:complexType name="SecurityControlConfigurationElement">
		<xs:sequence>
			<xs:element name="security_control_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="configuration_file" type="xs:string" minOccurs="1"
				maxOccurs="unbounded"/>
			<xs:element name="executable" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- NetworkCardConfigurationElement-->
	<xs:complexType name="NetworkCardConfigurationElement">
		<xs:sequence>
			<xs:element name="card_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MAC_address" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="IP_address" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="netmask" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- NetworkConfigurationElement -->
	<xs:complexType name="NetworkConfigurationElement">
		<xs:sequence>
			<xs:element name="gateway_IP_address" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DNS_IP_address" type="xs:string" minOccurs="1" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<!--KernelConfigurationElement-->
	<xs:complexType name="KernelConfigurationElement">
		<xs:sequence>
			<!-- TODO -->
		</xs:sequence>
	</xs:complexType>

	<!-- MonitoringSection -->
	<xs:complexType name="MonitoringSection">
		<xs:sequence>
			<xs:element name="input_bandwidth" type="secured_PSAManifest:Bandwidth" minOccurs="1" maxOccurs="1"/>
			<xs:element name="output_bandwidth" type="secured_PSAManifest:Bandwidth" minOccurs="1" maxOccurs="1"/>
			<xs:element name="delay" type="secured_PSAManifest:MaxDelay" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- CustomSection -->
	<xs:complexType name="CustomSection">
		<xs:sequence>
			<!-- TODO -->
		</xs:sequence>
	</xs:complexType>





	<!-- New -->
	
	



	<xs:complexType name="capabilityList">
		<xs:sequence>
			<xs:element name="capability_list" type="secured_PSAManifest:capability" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:simpleType name="capability">
		<xs:restriction base="xs:string">
    		<xs:enumeration value="Filtering_L4"></xs:enumeration>
    		<xs:enumeration value="Filtering_L7"></xs:enumeration>
    		<xs:enumeration value="Timing"></xs:enumeration>
    		<xs:enumeration value="TrafficInspection_L7"></xs:enumeration>
    		<xs:enumeration value="Filtering_3G4G"></xs:enumeration>
    		<xs:enumeration value="Filtering_DNS"></xs:enumeration>
    		<xs:enumeration value="Offline_malware_analysis"></xs:enumeration>
    		<xs:enumeration value="Online_SPAM_analysis"></xs:enumeration>
    		<xs:enumeration value="Online_antivirus_analysis"></xs:enumeration>
    		<xs:enumeration value="Network_traffic_analysis"></xs:enumeration>
    		<xs:enumeration value="DDos_attack_protection"></xs:enumeration>
    		<xs:enumeration value="lawful_interception"></xs:enumeration>
    		<xs:enumeration value="Count_L4Connection"></xs:enumeration>
    		<xs:enumeration value="Count_DNS"></xs:enumeration>
    		<xs:enumeration value="Protection_confidentiality"></xs:enumeration>
    		<xs:enumeration value="Protection_integrity"></xs:enumeration>
    		<xs:enumeration value="Compress"></xs:enumeration>
    		<xs:enumeration value="Logging"></xs:enumeration>
    		<xs:enumeration value="AuthoriseAccess_resurce"></xs:enumeration>
    		<xs:enumeration value="Reduce_bandwidth"></xs:enumeration>
    		<xs:enumeration value="Online_security_analyzer"></xs:enumeration>
    		<xs:enumeration value="Basic_parental_control"></xs:enumeration>
    		<xs:enumeration value="Advanced_parental_control"></xs:enumeration>
    		<xs:enumeration value="IPSec_protocol"></xs:enumeration>
    		<xs:enumeration value="TLS_protocol"></xs:enumeration>
		<xs:enumeration value="reencrypt"></xs:enumeration>
    		<xs:enumeration value="antiPhishing"></xs:enumeration>
    		<xs:enumeration value="anonymity"></xs:enumeration>
    		
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Optimization_parameter">
		<xs:attribute name="cost" type="xs:double" use="optional" default="0"></xs:attribute>
        <xs:attribute name="latency" type="xs:double" use="optional" default="0"></xs:attribute>
        <xs:attribute name="rating" type="xs:double" use="optional" default="0"></xs:attribute>
	</xs:complexType>
</xs:schema>
